$body-bg: #212121;
$font-color: #212121;
$font-color-second: #ffffff;
$font-weight-base: 400 !default;
$font-size-base: 0.875rem !default;
$font-size-base-title: 2.875rem !default;
$font-size-base-link: 1.875rem !default;
$font-size-base-card: 1rem !default;
$mat-font-family: 'Roboto', sans-serif;
