html body {
  margin: 0;
  color: $font-color;
  padding: 0;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
  line-height: 1.5;
  font-family: $mat-font-family;
  background: $body-bg;
}

.logo {
  width: 400px;
  position: relative;
}

.title {
  margin: 0;
  color: $font-color-second;
  padding: 0;
  font-weight: $font-weight-base;
  font-size: $font-size-base-title;
  line-height: 2.5;
  font-family: $mat-font-family;
}

.link{
  margin: 0;
  color: $font-color-second;
  padding: 0;
  font-weight: $font-weight-base;
  font-size: $font-size-base-link;
  line-height: 4.5;
  font-family: $mat-font-family;
  text-decoration: none;
  cursor: pointer;
}

@media(max-width: 1440px) {
  .logo {
    width: 450px;
    position: relative;
  }

  .title {
    font-size: 4.5em;
    margin-top: 0 !important;
    margin-bottom: 20px;
  }

  .link{
    font-size: 4em;
    line-height: 3.5;
  }
}

@media(max-width: 1024px) {
  .logo {
    width: 400px;
    position: relative;
  }

  .title {
    font-size: 3em;
    margin-top: 0 !important;
    margin-bottom: 20px;
  }

  .link{
    font-size: 3em;
  }
}

@media(max-width: 768px) {
  .logo {
    width: 400px;
    position: relative;
  }

  .title {
    line-height: 2.5;
  }

  .link{
    font-size: $font-size-base-link;
  }
}

@media(max-width: 425px) {
  .logo {
    width: 200px;
    position: relative;
  }

  .title {
    font-size: 1.6em;
    margin-top: 30%;
    margin-bottom: 20px;
  }

  .link{
    font-size: 1.9em;
  }
}

@media(max-width: 375px) {
  .logo {
    width: 200px;
    position: relative;
  }

  .title {
    font-size: 1.6em;
    margin-top: 30%;
    margin-bottom: 20px;
  }

  .link{
    font-size: 1.9em;
  }
}

@media(max-width: 320px) {
  .logo {
    width: 150px;
    position: relative;
  }

  .title {
    font-size: 1.3em;
    margin-top: 30%;
    margin-bottom: 20px;
  }

  .link{
    font-size: 1.5em;
  }
}
